
.ec-inner-page {
  font-family: 'Kosugi Maru', sans-serif;
  text-align: center;
}

.ec-inner-page .ec-header {
  background-color: #2E4247;
  text-align: center;
  color: white;
  font-weight: normal;
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  padding: 1rem;
  margin-bottom: 1rem;
}

.product-card h3 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 0.5rem;
}

.product-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.product-features {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr); /* 2列 */
  gap: 10px;                              /* 円同士の間隔 */
  justify-content: center;  
}

.feature-item {
  width: 140px;
  height: 140px;
  border-radius: 50%;                     /* 円 */
  border: 10px solid #2D4247;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  font-size: 1.2rem;
  /*行間を調整*/
  line-height: 1.5rem;
}

.price-main {
  font-size: 100px;
  color: #CF284B;
  font-weight: bold;
  margin: 100px;
}

.ec-inner-page button {
  background-color: #CF284B;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 30px;
  padding: 45px 15px;
  margin: 5rem;
}